<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundWave</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
     <h1><span class="nota">♪</span> SoundWave</h1>
        <nav>
            <a href="/artistas">Artistas</a>
            <a href="/canciones">Canciones</a>
            <a href="/canciones/top10">🏆 Top 10</a>
        </nav>
    </header>
    
    <main>
        {{{body}}}
    </main>
    
</body>
</html>