<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundWave</title>
</head>
<body>
    <header>
        <h1>🎵 SoundWave</h1>
        <nav>
            <a href="/artistas">Artistas</a>
            <a href="/canciones">Canciones</a>
            <a href="/canciones/top10">🏆 Top 10</a>
        </nav>
    </header>
    
    <main>
        {{{body}}}
    </main>
    
</body>
</html>