<h2>Nuevo artista</h2>

<form method="POST" action="/artistas">
<div>
    <label>Nombre</label>
    <input type="text" name="nombre" required>
</div>
<div>
    <label>Género</label>
    <input type="text" name="genero">
</div>
<div>
    <label>País</label>
    <input type="text" name="pais">
</div>
<button type="submit">Guardar</button>
<a href="/artistas">Cancelar</a>
</form>